<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techov8.retaildost">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.techov8.retaildost.UserIdActivity"
            android:label="@string/title_activity_user_id"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.techov8.retaildost.AddressActivity" />
        <activity android:name="com.techov8.retaildost.DeliveryActivity" />
        <activity android:name="com.techov8.retaildost.SearchActivity" />
        <activity android:name="com.techov8.retaildost.ItemDetailsActivity" />
        <activity android:name="com.techov8.retaildost.ItemListActivity" />
        <activity android:name="com.techov8.retaildost.RegisterActivity" />
        <activity android:name="com.techov8.retaildost.MainActivity" />
        <activity
            android:name="com.techov8.retaildost.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>